<!DOCTYPE html>
<html>
<script src= "http://apps.bdimg.com/libs/angular.js/1.3.9/angular.min.js"></script>
<body>

<p>尝试修改以下表单。</p>

<form  ng-app="myApp"  ng-controller="myCtrl"
name="myForm" novalidate>

名: <input type="text" name="name" ng-model="firstName" required> 
	<span style="color:red" ng-show="myForm.name.$dirty&& myForm.name.$invalid">*</span><br>
姓: <input type="text" ng-model="lastName"><br>
<br>
姓名: {{firstName + " " + lastName|lowercase  }}<br>
<br>
单价：<input type="text" ng-model="price"><br>
<ul>
	<li ng-repeat="i in list |orderBy:i |filter:price">
		score:{{i|currency }}
	</li>
</ul>
</form>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName= "John";
    $scope.lastName= "Dode";
	$scope.price= 1;
	$scope.list=[15,2,8,6,10,14];
});
</script>

</body>
</html>
			
